<!doctype html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="oauth.js"></script>
  <script src="twitter.js"></script>


  <title>Upload Media to Twitter</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    
  <style>
    body{ 
      padding-top:80px; 
      word-wrap:break-word; 
      background-color: #678b98;
    }
    .container{
      padding-top: 30px;
    }

    h1{
      color: white;
    }
  </style>
</head>


<body>
    <div class="container">

        <div class="page-header text-center">
            <h1>Upload media to Twitter</h1>
            <a href="/logout" class="btn btn-danger">Logout</a>
        </div>

        <div class="jumbotron text-center">
        <div class="container">
        <form action="/twitter" method="POST" enctype="media">
        <div class="file-field input-field">
          <input type="file" name="Choose Image">
        </div>  
        <button type="submit" class="btn btn-info">Tweet</button>
        </form>
        </div>
        
            <!--
            <script type="text/javascript">
                  data = require('fs').readFileSync(req.file.path);
                      client.post('media/upload', {media: data}, function(error, media, response) {

                if (!error) {

                  // If successful, a media object will be returned.
                  console.log(media);

                  // Lets tweet it
                    var status = {
                      status: 'I am a tweet',
                     media_ids: media.media_id_string // Pass the media id string
                  }

                    client.post('statuses/update', status,  function(error, tweet, response) {
                      if (!error) {
                        console.log(tweet);
                      }
                    });

                  }
                  });
                </script>
              -->

            </div>



        </div>
</body>
</html>
