<!doctype html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="oauth.js"></script>
  <script src="imageupload.js"></script>

  <title>Upload Media to Twitter</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    
  <style>
    body{ 
      padding-top:80px; 
      word-wrap:break-word; 
      background-color: #678b98;
    }
    .container{
      padding-top: 30px;
    }

    h1{
      color: white;
    }
  </style>
</head>


<body>
    <div class="container">

        <div class="page-header text-center">
            <h1>Upload media to Twitter</h1>
            <a href="/logout" class="btn btn-danger">Logout</a>
        </div>

        <div class="jumbotron text-center">
        <div class="container">
        Tweet here (Max 140 words): <input type="text" id="status" >
        </div>
        <div class="container">
        Image URL (Max size: 10MB): <input type="url" id="imageurl" >
        </div>

        <!--<div class="container">
        <form action="/upload" method="POST" enctype="multipart/form-data">
        <div class="file-field input-field">
          <input type="file" name="Choose Image">
        </div>  
       
        </form>
        </div>-->

        <div class="container">
        <button class="btn btn-info btn-lg" id="connect">Tweet</button>
        </div>
        <pre style="display:none" id="result"></pre><br>
        <img id="photo"/>


    </div>



        </div>
</body>
</html>
