<!doctype html>
<html>
<head>
  <title>Media Upload Application</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <style>
    body    { padding-top:0px; background-color: #FFF3DC; background-image: url("");}
    .jumbotron { 
    margin-top: 150px;
    background-color: #678b98;
    color: #ffffff;
}
  </style>
</head>
<body>
<div class="container">

  <div class="jumbotron text-center">
    <h1> Media Upload Application</h1>
    <p>Login to the application with:</p>
    <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
  </div>

  <div class="text-center">
  </div>

</div>
</body>
</html>